@model ActivityViewModel
<html>
<head>
    <script src="https://cdn.jsdelivr.net/npm/feather-icons/dist/feather.min.js"></script>
    <style>
        body {
            background: rgb(246, 246, 246);
            font-family: 'Comfortaa', cursive;
            color: #2f2c2c;
        }

        .note {
            text-align: center;
            height: 80px;
            background: -webkit-linear-gradient(left, #FE6BFE, #FF33CC);
            color: #fff;
            font-weight: bold;
            line-height: 80px;
        }

        .form-content {
            padding: 5%;
            border: 1px solid #ced4da;
            margin-bottom: 2%;
        }

        .form-control {
            border-radius: 0.5rem;
            font-family: 'Comfortaa', cursive;
            font-size: 0.8rem;
        }

        .btnSubmit {
            border: none;
            width: 15%;
            margin-left: 15px;
            background: rgb(0 0 0 / 13%);
            padding: 10px 20px;
            border-radius: 10px;
            font-size: .8rem;
            text-decoration: none;
            color: #2f2c2c;
            font-family: 'Comfortaa', cursive;
        }

            .btnSubmit:hover {
                color: white;
            }

        label {
            font-size: 0.8rem;
            color: #495057;
        }

        .icon {
            width: 27px;
            margin-top: 15%;
        }
    </style>
</head>
<body>
    <div class="container register-form" style="margin-top:12px; border-radius:0.1rem;">
        <div class="form">
            <div class="note">
                <p>Etkinlik oluşturma Formu.</p>
            </div>
            <div class="form-content">
                @{
                    if (ViewData["create"] != null)
                    {
                        <label style="color:black; font-size:20px;"> <i style="color:green;" data-feather="check-square"></i>Etkinlik Başvurunuz Gönderildi.</label>
                    }
                }
                <br />
                <form method="post" asp-action="Create">
                    <div class="row">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <input asp-for="Name" type="text" class="form-control" placeholder="Etkinlik Adı *" />
                                <span asp-validation-for=Name class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <textarea asp-for="Detail" rows="3" cols="50" class="form-control" placeholder="Açıklama *"></textarea>
                                <span asp-validation-for=Detail class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6" style="max-height:150px;">
                            <div class="form-group">
                                <label for="date">Etkinlik tarihi * </label>
                                <input asp-for="Date" type="date" itemid="date" name="date" required />
                                <span asp-validation-for=Date class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label for="date">Son başvuru * </label>
                                <input asp-for="ActivityDeadline" type="date" itemid="activityDeadline" name="activityDeadline" required />
                                <span asp-validation-for=ActivityDeadline class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <select asp-for="CategoryName" class="form-control" itemid="categoryName" required>
                                    <option>Kategori seçiniz *</option>
                                    <option>Çevre</option>
                                    <option>Çocuk</option>
                                    <option>Dijital</option>
                                    <option>Sosyal</option>
                                </select>
                                <span asp-validation-for=CategoryName class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <input asp-for="Quota" type="number" name="quota" class="form-control" min="1" placeholder="Kontenjan *" required />
                                <span asp-validation-for=Quota class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <input asp-for="City" type="text" class="form-control" placeholder="Şehir *" />
                                <span asp-validation-for=City class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <textarea asp-for="Address" rows="3" cols="50" class="form-control" placeholder="Adres *"></textarea>
                                <span asp-validation-for=Address class="text-danger"></span>
                            </div>
                        </div>
                        <button class="btnSubmit">Gönder</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script>
        feather.replace()
    </script>

    @section Scripts{
        @{
            await Html.RenderPartialAsync("_ValidationScriptsPartial");
        }
    }
</body>
</html>

