@model List<CategoryViewModel>
<html>
<head>
    <script src="https://cdn.jsdelivr.net/npm/feather-icons/dist/feather.min.js"></script>
    <style>
        body {
            background: rgb(246, 246, 246);
            font-family: 'Comfortaa', cursive;
            color: #2f2c2c;
        }

        .note {
            text-align: center;
            height: 80px;
            background: -webkit-linear-gradient(left, #FE6BFE, #FF33CC);
            color: #fff;
            font-weight: bold;
            line-height: 80px;
        }

        .form-content {
            padding: 5%;
            border: 1px solid #ced4da;
            margin-bottom: 2%;
        }

        .form-control {
            border-radius: 0.5rem;
            font-family: 'Comfortaa', cursive;
            font-size: 0.8rem;
        }

        .btnSubmit {
            border: none;
            width: 15%;
            margin-left: 15px;
            background: rgb(0 0 0 / 13%);
            padding: 10px 20px;
            border-radius: 10px;
            font-size: .8rem;
            text-decoration: none;
            color: #2f2c2c;
            font-family: 'Comfortaa', cursive;
        }

            .btnSubmit:hover {
                color: white;
            }

        label {
            font-size: 0.8rem;
            color: #495057;
        }

        .icon {
            width: 27px;
            margin-top: 15%;
        }
    </style>
</head>
<body>
    <div class="container register-form" style="margin-top:12px; border-radius:0.1rem;">
        <div class="note">
            <p>Etkinlik oluşturma Formu.</p>
        </div>
        <div class="form-content">

            @{
                if (TempData["create"] != null)
                {
                    <label style="color:black; font-size:20px;"> <i style="color:green;" data-feather="check-square"></i>Etkinlik Başvurunuz Gönderildi.</label>
                }
            }

            <br />
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <input id="activityName" type="text" class="form-control" placeholder="Etkinlik Adı *" />

                    </div>
                    <div class="form-group">
                        <textarea id="activityDetail" rows="3" cols="50" class="form-control" placeholder="Açıklama *"></textarea>

                    </div>
                </div>
                <div class="col-md-6" style="max-height:150px;">
                    <div class="form-group">
                        <label>Etkinlik tarihi * </label>
                        <input type="date" id="activityDate" name="date" required />

                    </div>
                    <div class="form-group">
                        <label>Son başvuru * </label>
                        <input type="date" id="activityDeadline" name="activityDeadline" required />

                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Kategori seçiniz * </label>
                        <select class="form-control" id="activityCategoryName" required>
                            <option></option>
                            @foreach (var category in Model)
                            {
                                <option>@category.Name</option>
                            }
                        </select>
                    </div>
                    <div class="form-group">
                        <input type="number" id="activityQuota" name="quota" class="form-control" min="1" placeholder="Kontenjan *" required />

                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <input type="text" id="activityCity" class="form-control" placeholder="Şehir *" />
                    </div>
                    <div class="form-group">
                        <textarea rows="3" id="activityAddress" cols="50" class="form-control" placeholder="Adres *"></textarea>
                    </div>
                </div>
                <button class="btnSubmit" id="btnCreate">Gönder</button>
            </div>

        </div>
    </div>

    <script>
        feather.replace()
        $("#btnCreate").click(function () {

            var Name = $('#activityName').val();
            var Detail = $('#activityDetail').val();
            var CategoryName = $('#activityCategoryName').val();
            var Date = $('#activityDate').val();
            var ActivityDeadline = $('#activityDeadline').val();
            var City = $('#activityCity').val();
            var Address = $('#activityAddress').val();
            var Quota = $('#activityQuota').val();

            var activity = {
                "Name": Name,
                "Detail": Detail,
                "CategoryName": CategoryName,
                "Date": Date,
                "ActivityDeadline": ActivityDeadline,
                "City": City,
                "Address": Address,
                "Quota": Quota
            };
            console.log(activity);
            $.ajax({
                url: '@Url.Action("Create", "Activity")',
                type: 'POST',
                dataType: 'json',
                data: activity,
                success: function (data) {
                    console.log(data);
                    location.reload();
                }
            });
        });
    </script>

    @section Scripts{
        @{
            await Html.RenderPartialAsync("_ValidationScriptsPartial");
        }
    }
</body>
</html>

